/*** index.html body ***/

.grid-container {
  margin: 2% 2% 0 2%;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-column-gap: 10px;
}

.text {
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-container div {
  margin: 0 0 0.5em;
}

/*** index.html body styling ***/

.greeting > h2 {
  font-weight: bold;
  font-style: normal;
  line-height: 64px;
  font-size: 48px;
  font-family: 'Fira Sans', sans-serif;
}

.greeting .underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.2em #9999CC;
  display: inline;
}

.learn-more {
  margin-top: 18px;
  margin-bottom: 18px;
}

.learn-more > p {
  font-family:'Merriweather',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: inline-block;
}

.learn-more a{
    color: #333333;
    text-decoration: none;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
}

.button1{
  background-color: #CC3366;
  border-radius: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family:'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
}

.work h3{
  width: 303px;
  height: 30px;
}

/*** index.html projects styling ***/

.card-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 50px;
   margin-left: 110px;
   margin-top: 22px;
 }

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 12px 24px rgba(51, 51, 102, 0.23);
  margin: 0 auto;
  max-width: 300px;
  width: 300px;
  display: inline-block;
  transition-duration: 0.4s;
}

.bg-img > img {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
  overflow: hidden;
}

.card-media {
  width: 100%;
}

.content > p {
  padding: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.6;
}

.content > b {
  padding: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

button {
  background: #FFFFFF;
  border: 2px solid #CC3366;
  border-radius: 2px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px 4px;
  cursor: pointer;
  font-family:'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

button:hover {
  background-color: #CC3366;
  color: #FFFFFF;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(51, 51, 102, 1);
}

/*** index.html footer ***/

.main-footer{
    width: 100%;
    overflow: auto;
}

.main-footer .footer-content{
  margin: 0;
  padding: 0;
  text-align: right;
}

.footer-content .contact-links{
  display: inline-flex;
  margin-top: 35px;
}

.contact-links img{
  padding: 10px 10px 10px;
  width: 48px;
  height: 48px;
}

/*** index.html Media Queries ***/

/* index.html Main Footer Media Queries */

@media (max-width : 480px) {
.main-footer .footer-content {
text-align: center;
clear:both;}
}

@media (max-width : 767px) {
.main-footer .footer-content {
  text-align: center;
clear:both;}
}

@media (max-width: 992px) {
.main-footer .footer-content {
  text-align: center;
clear:both;}
}
/** index.html Cards Media Queries **/

@media (max-width : 480px) {
.card-container { width:100px;
margin-left: 80px;}
}


@media (max-width : 767px) {
.card-container { width:400px;
margin-left: 80px;}
}
